<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>北京</string>
		<key>city</key>
		<array>
			<dict>
				<key>city</key>
				<string>北京</string>
				<key>district</key>
				<array>
					<string>东城区</string>
					<string>朝阳区</string>
					<string>昌平区</string>
					<string>大兴区</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>上海</string>
		<key>city</key>
		<array>
			<dict>
				<key>city</key>
				<string>上海</string>
				<key>district</key>
				<array>
					<string>黄浦区</string>
					<string>卢湾区</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>河北省</string>
		<key>city</key>
		<array>
			<dict>
				<key>city</key>
				<string>石家庄市</string>
				<key>district</key>
				<array>
					<string>长安区</string>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>新华区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>唐山市</string>
				<key>district</key>
				<array>
					<string>路南区</string>
					<string>开平区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>秦皇岛市</string>
				<key>district</key>
				<array>
					<string>海港区</string>
					<string>山海关区</string>
					<string>北戴河区</string>
					<string>抚宁区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>邯郸市</string>
				<key>district</key>
				<array>
					<string>邯山区</string>
					<string>复兴区</string>
					<string>邯郸县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>山西省</string>
		<key>city</key>
		<array>
			<dict>
				<key>city</key>
				<string>太原市</string>
				<key>district</key>
				<array>
					<string>小店区</string>
					<string>迎泽区</string>
					<string>普园区</string>
					<string>阳曲区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>大同市</string>
				<key>district</key>
				<array>
					<string>城区</string>
					<string>矿区</string>
					<string>南郊区</string>
					<string>新荣区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>阳泉市</string>
				<key>district</key>
				<array>
					<string>城区</string>
					<string>矿区</string>
					<string>郊区</string>
					<string>平定县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>长治市</string>
				<key>district</key>
				<array>
					<string>城区</string>
					<string>郊区</string>
					<string>长治县</string>
					<string>屯留县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>辽宁省</string>
		<key>city</key>
		<array>
			<dict>
				<key>city</key>
				<string>沈阳市</string>
				<key>district</key>
				<array>
					<string>和平区</string>
					<string>沈河区</string>
					<string>大东区</string>
					<string>皇姑区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>大连市</string>
				<key>district</key>
				<array>
					<string>中山区</string>
					<string>西岗区</string>
					<string>金州区</string>
					<string>长海区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>鞍山区</string>
				<key>district</key>
				<array>
					<string>铁东区</string>
					<string>铁西区</string>
					<string>立山区</string>
					<string>千山区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>抚顺市</string>
				<key>district</key>
				<array>
					<string>新抚区</string>
					<string>东洲区</string>
					<string>望花区</string>
					<string>顺城区</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>河南省</string>
		<key>city</key>
		<array>
			<dict>
				<key>city</key>
				<string>郑州市</string>
				<key>district</key>
				<array>
					<string>金水区</string>
					<string>管城区</string>
					<string>高新区</string>
					<string>中牟县</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>开封市</string>
				<key>district</key>
				<array>
					<string>龙亭区</string>
					<string>鼓楼区</string>
					<string>金明区</string>
					<string>禹王台区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>洛阳市</string>
				<key>district</key>
				<array>
					<string>老城区</string>
					<string>西工区</string>
					<string>涧西区</string>
					<string>吉利区</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>平顶山市</string>
				<key>district</key>
				<array>
					<string>新华区</string>
					<string>卫东区</string>
					<string>石龙区</string>
					<string>湛河区</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
